/*
 * SPDX-FileCopyrightText: 2022 Digital Dasein <https://digitaldasein.org/>
 * SPDX-FileCopyrightText: 2022 Gerben Peeters <gerben@digitaldasein.org>
 * SPDX-FileCopyrightText: 2022 Senne Van Baelen <senne@digitaldasein.org>
 *
 * SPDX-License-Identifier: MIT
 *
 * --
 *
 * Custom CSS stylesheet for Lit elements
 */

/*.tsd-signature {*/
    /*display:none;*/
/*}*/

h3.tsd-anchor-link {
    font-size:1.25em;
    background-color:rgba(153, 155, 132,0.4);
    margin:0 0 10px 0 !important;
    line-height:1em;
    padding:5px 0;
}
.tsd-comment h3 {
    font-size:1em;
}

.tsd-accordion-details section {
    display:none !important;
}

.tsd-accordion-details section:nth-child(1),
.tsd-accordion-details section:nth-child(2) {
    display:block !important;
}

table {
    /*border: 1px solid black;*/
}

table td, table td * {
    vertical-align: top;
    min-height:1.5em;
}


table tr:nth-child(odd) td{
    background-color:rgba(0,0,0,0.05)
}
table tr:nth-child(even) td{
    background-color:rgba(0,0,200,0.02)
}

table code {
    background-color:rgba(255,255,255,0.25);
}
